$clr-primary: #84aa4b;
$clr-secondary: #e17f62;
$clr-bg: #eeece4;
$clr-green1: #d7e188;
$clr-green2: #90a73f;
$clr-font: #403429;

@font-face {
  font-family: 'Fruit Punch';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/FRUIT-PUNCH.ttf') format('truetype');
}

:root {
  --clr-primary: #{$clr-primary};
  --clr-secondary: #{$clr-secondary};
  --clr-bg: #{$clr-bg};
  --clr-green1: #{$clr-green1};
  --clr-green2: #{$clr-green2};
  --clr-font: #{$clr-font};
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font);
  font-family: 'Work Sans', Verdana, sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  cursor: url('~assets/img/cursor.png'), auto;
}

h2 {
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2rem auto 0;
  padding-top: 1rem;
  height: var(--hauteur-titre);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 600px;
  color: var(--clr-bg);

  @media (min-width: 550px) {
    font-size: 2rem;
  }

  @media (min-width: 850px) {
    font-size: 2.5rem;
  }
}

a:hover {
  cursor: url('~assets/img/cursor-hover.png'), auto;
}

a:focus-visible {
  outline: 3px dotted var(--clr-secondary);
  outline-offset: 3px;
}
