$clr-primary: #84aa4b;
$clr-secondary: #e17f62;
$clr-bg1: #fffaf4;
$clr-bg2: #f1f2ee;
$clr-bg-dark: #403429;
$clr-green1: #d3d9ac;
$clr-green2: #90a73f;
$clr-green3: #5c7811;
$clr-font: #3b3025;

@import './fonts.scss';

:root {
  --clr-primary: #{$clr-primary};
  --clr-secondary: #{$clr-secondary};
  --clr-bg1: #{$clr-bg1};
  --clr-bg2: #{$clr-bg2};
  --clr-bg-dark: #{$clr-bg-dark};
  --clr-green1: #{$clr-green1};
  --clr-green2: #{$clr-green2};
  --clr-green3: #{$clr-green3};
  --clr-font: #{$clr-font};
  --container-width: 1440px;
  --wave-height: 8vw;
  font-size: 16px;
  scrollbar-color: var(--clr-secondary) var(--clr-primary);
}

::selection {
  color: white;
  background: var(--clr-secondary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg1);
  color: var(--clr-font);
  --font-sans-serif: 'Work Sans', Verdana, sans-serif;
  --font-serif: Georgia, 'Times New Roman', Times, serif;
  --font-changa: 'Changa One', Arial, sans-serif;
  font-family: var(--font-sans-serif);
  cursor: url('~assets/img/cursor.png'), auto;

  #tarteaucitronRoot #tarteaucitronAlertBig {
    background-color: var(--clr-primary);
    box-shadow: 0px 0px 25px 0px #000;
    #tarteaucitronDisclaimerAlert {
      color: var(--clr-font);
    }
  }
}

.container {
  max-width: var(--container-width);
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @media (min-width: 850px) {
    padding-bottom: var(--wave-height);
  }
}

h1 {
  font-family: var(--font-changa);
  font-size: clamp(1.7rem, 4vw, 4rem);

  br {
    display: none;

    @media (min-width: 850px) {
      display: inline;
    }
  }
}

h2 {
  font-family: var(--font-changa);
  font-size: clamp(1.5rem, 3.5vw, 4rem);
}

h3 {
  font-family: 'Vibur', 'Times New Roman', Times, serif;
  font-weight: 400;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid;
  opacity: 0.25;
}

a {
  color: var(--clr-font);
  font-weight: bold;
}

a:focus-visible {
  outline: 3px dotted var(--clr-secondary);
  outline-offset: 3px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  overflow: visible;
  text-transform: none;
  font-family: inherit;
  border: 0;
}

.lead {
  font-weight: 300;
  font-size: 1.25rem;
}

.carousel {
  --dot-size: 1.2rem;
  position: relative;
  width: 100%;
  min-height: 420px;
  margin: 0 auto;
  background-color: var(--clr-bg-dark);
  overflow: hidden;

  &-inner {
    position: absolute;
    inset: 0;
  }

  &-img {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-title {
    padding: 1.5rem 1rem 3rem;
    color: white;
    font-size: clamp(1.25rem, 3vw, 3rem);
    text-align: center;

    p {
      font-family: 'Changa One', Arial, sans-serif;
      margin-bottom: 1.5rem;
    }
  }

  .controls,
  .slide,
  .dots {
    position: absolute;
  }

  .logo {
    display: none;
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
    height: 100%;
    width: 100%;

    &.active {
      opacity: 1;
      z-index: 2;
    }
  }

  .dots {
    bottom: 0;
    width: 150px;
    display: flex;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    z-index: 3;
  }

  .dot {
    display: inline-block;
    border-radius: 100%;
    background: white;
    width: var(--dot-size);
    height: var(--dot-size);
    box-shadow: 1px 1px 1px 1px #aaaaaa;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in-out;
    opacity: 0.5;

    &:not(.active):hover {
      cursor: pointer;
    }

    &:hover,
    &.active {
      opacity: 1;
    }

    @media (min-width: 850px) {
      background: var(--clr-bg-dark);
    }
  }

  .controls {
    --control-size: 30px;
    z-index: 5;
    bottom: 0;
    right: 5%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    border: 1px solid black;
    width: var(--control-size);
    height: var(--control-size);
    margin: 10px;

    a {
      display: flex;
      height: 100%;

      svg {
        margin: auto;
        width: 50%;
      }
    }
  }

  .cta {
    margin: 0 auto;
  }

  @media (min-width: 550px) {
    min-height: 500px;
  }

  @media (min-width: 850px) {
    min-height: initial;
    padding-bottom: 36%;
    max-height: 530px;

    .controls,
    .dots {
      bottom: -10px;
    }

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 33%;
      padding: 2rem 2rem 2rem 6%;
      text-align: left;

      p {
        text-align: initial;
      }
    }

    &-img {
      position: relative;
      flex: 0 0 67%;
      order: 2;
      height: 100%;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .logo {
      display: block;
      position: absolute;
      width: 25%;
      top: 1.5rem;
      left: 1.5rem;
    }

    .slide {
      flex-direction: initial;
    }

    .cta {
      margin: initial;
    }
  }

  @media (min-width: 1600px) {
    padding-bottom: 31%;
  }
}

.cta {
  text-decoration: none;
  border-radius: 1rem;
  background-color: var(--clr-green1);
  color: var(--clr-font);
  padding: 0.75rem 1.5rem;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 600;
  display: block;
  width: fit-content;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.actif {
    cursor: pointer;
    background-color: var(--clr-green3);
    color: white;
    box-shadow: var(--shadow);
    transform: translateY(-10%);
  }
}

.ancre {
  position: absolute;
  top: -100px;
}

.section-page {
  position: relative;
  flex: 1 1 100%;

  .title {
    flex: 0 0 33%;
    text-align: center;
    padding: 0% 2.7% 6% 6%;

    h2 {
      padding-top: 1.5rem;
    }
  }

  .content {
    position: relative;
    flex: 0 0 67%;
    padding: 3% 10% 1rem 10%;
  }

  h2 {
    font-size: clamp(1.5rem, 2.7vw, 2.5rem);
  }

  &:nth-child(even) {
    .title {
      background-color: #e3ad89;
    }

    .content {
      background-color: #f4dbc9;
    }
  }

  &:nth-child(odd) {
    .title {
      background-color: #ead0a3;
    }

    .content {
      background-color: #f7e9d4;
    }
  }

  @media (min-width: 850px) {
    display: flex;

    .title {
      text-align: initial;
    }

    .content {
      max-width: 67%;
    }

    .title h2 {
      padding-top: 0;
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.v-enter-active.v-enter-to,
.v-leave-active.v-leave-from {
  opacity: 1;
}
